{% extends "base.html" %}
{% block content %}
 <h2>{% if form.instance.pk %}Xonani tahrirlash{% else %}Yangi xona{% endif %}</h2>
{% load humanize %}
<form method="post">
  {% csrf_token %}
  <p><label for="id_number">Xona raqami <span class="required-mark">*</span></label>{{ form.number }}</p>
  <p><label for="id_price_per_night">Kunlik narx <span class="optional-tag">(ixtiyoriy)</span></label>{{ form.price_per_night|intcomma }}</p>
  <button type="submit" class="btn">Saqlash</button>
</form>
{% endblock %}